<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Idan Garten">
    <meta name="keywords" content="Museum, Carnegie Mellon University, Information Systems">
    <meta name="description" content="MonoMuse website redesign project">
    <title>MonoMuse</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <script src="../static/script.js"></script>
</head>
<body onload="addYear()">
    <header>
        
        <nav>
            <a href="../index.html">Home</a>
            <a href="explore.html">Explore</a>
            <a href="exhibitions.html">Exhibitions</a>
            <a href="tickets.html">Buy Tickets</a>
            <a id="navselected" href="checkout.html">Checkout</a>
        </nav>
    </header>
    <img id="logo" src="../static/monomuselogo.png" alt="MonoMuse museum logo">
    <div class="main">
        <form>
            <div>
                <label>Name: (required)</label>
                <input type="text">
            </div>
            <div>
                <label>Email: (required)</label>
                <input type="text">
            </div>
            <div>
                <label>Ticket Quantity: (required)</label>
                <input type="text">
            </div>
            <button id="submit_checkout">Submit</button>
        </form>
    </div>
    <footer> 
        <p id="copyYear"></p>
    </footer>
</body>
</html>