<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Idan Garten">
    <meta name="keywords" content="Museum, Carnegie Mellon University, Information Systems">
    <meta name="description" content="MonoMuse website redesign project">
    <title>MonoMuse</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <script src="https://code.jquery.com/jquery-4.0.0.min.js"
        integrity="sha256-OaVG6prZf4v69dPg6PhVattBXkcOWQB62pdZ3ORyrao=" crossorigin="anonymous"></script>
    <script src="../static/script.js" defer></script>
</head>

<body onload="addYear()">
    <div class="container">
        <header class="header">
            <img id="logo" src="../static/monomuselogo.png" alt="MonoMuse museum logo">
        </header>
        <nav class="nav_bar">
            <button type="button" class="hamburger" onclick="toggleMenu()">&#9776;</button>
            <a href="../index.html">Home</a>
            <a href="explore.html">Explore</a>
            <a href="exhibitions.html">Exhibitions</a>
            <a href="buytickets.html">Buy Tickets</a>
        </nav>
        <main class="main">
            <h3>Exhibtion 1: Neon Dreams: The Art of Light and Code</h3>
            <p>
                This exhibition explores the intersection of neon art and digital technology,
                showcasing mesmerizing installations that use LED lights and algorithms to create dynamic,
                ever-evolving visual experiences. Artists challenge traditional light forms by integrating
                programming and interactive elements, allowing visitors to engage with the artwork in real time.
            </p>
            <h3>Exhibition 2: Virtual Realities: The Evolution of Digital Worlds</h3>
            <p>
                "Virtual Realities" takes visitors through the history of virtual environments, from early
                digital landscapes to fully immersive VR experiences. This exhibition highlights the creative
                potential of digital spaces, with interactive displays that invite visitors to step into alternate
                realities crafted by groundbreaking artists and technologists.
            </p>
            <iframe src="https://www.youtube.com/embed/eZt8nJ6Et3A?si=oYUgaTaEzwnio_De" title="YouTube video player" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </main>
        <figure class="main_figure">
            <img src="../static/museum.jpg" alt="Could not display image" width="500" height="400">
        </figure>
        <footer class="footer">
            <p id="copyYear"></p>
        </footer>
    </div>
</body>

</html>