<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <meta name="author" content="Idan Garten">
    <meta name="keywords" content="Museum, Carnegie Mellon University, Information Systems">
    <meta name="description" content="MonoMuse website redesign project">
    <title>MonoMuse</title>

</head>

<body>
    <header>
        <h1>Exhibitions</h1>
        <nav>
            <a href="../index.html">Home</a>
            <a href="exhibitions.html">Exhibitions</a>
            <a href="tickets.html">Buy Tickets</a>
            <a href="explore.html">Explore</a>
            <a href="checkout.html">Checkout</a>
        </nav>
    </header>
    <div class="main">
        <h3>Exhibtion 1: Neon Dreams: The Art of Light and Code</h3>
        <p>
            This exhibition explores the intersection of neon art and digital technology, 
            showcasing mesmerizing installations that use LED lights and algorithms to create dynamic, 
            ever-evolving visual experiences. Artists challenge traditional light forms by integrating 
            programming and interactive elements, allowing visitors to engage with the artwork in real time.
        </p>
        <h3>Exhibition 2: Virtual Realities: The Evolution of Digital Worlds</h3>
        <p>
            "Virtual Realities" takes visitors through the history of virtual environments, from early 
            digital landscapes to fully immersive VR experiences. This exhibition highlights the creative 
            potential of digital spaces, with interactive displays that invite visitors to step into alternate 
            realities crafted by groundbreaking artists and technologists.
        </p>
    </div>
    <footer>2026 MonoMuse. All rights reserved.</footer>
</body>

</html>